<div class="row mt-3 ms-3" *ngIf="contact_list.length!=0">
  <div class="col-2">
    <p class="contacts-heading">CONTACTS</p>
    <div class="card">
      <ul class="list-group list-group-flush" #refgroup>
       <!-- <ul #ref1 class="list-group-item active-item" >
           <li class="name " id="name">Harsha Vardhan Pendyala</li>
           <li class="details " id="number">7777888855</li>
           <li class="details " id="mail">harsha@fosterate.com</li>
        </ul>
        <ul #ref2 class="list-group-item"  id="duke">
          <li class="name " id="name">Network Duke</li>
          <li class="details " id="number">7777888855</li>
          <li class="details " id="mail">duke@fosterate.com</li>
        </ul>
        <ul  #ref3 class="list-group-item" >
          <li class="name " id="name">Arshaque Mohammed</li>
          <li class="details " id="number">7777888855</li>
          <li class="details " id="mail">arshaque@fosterate.com</li>
        </ul>-->
        <ul class="list-group-item " *ngFor="let contact of contact_list"  [ngClass]="{'active-item':contact.status==true}">
          <div (click)="onListItemClick(contact)" >
          <li class="name" id="name">{{contact.name}}</li>
          <li class="details" id="number">{{contact.number}}</li>
          <li class="details" id="mail">{{contact.mail}}</li>
          <!--<li class="details" id="landline" *ngIf="contact.landline!=null">{{contact.landline}}</li>-->
          <!--<li class="details" id="website" *ngIf="contact.website!=null">{{contact.website}}</li>-->
          <!--<li class="details" id="address" *ngIf="contact.address!=null">{{contact.address}}</li>-->
        </div>
        </ul>
      </ul>
    </div>
  </div>
  <div class="col-4 ">
    <ul class="data-list" #Ref *ngFor="let contact of contact_list">
       <div *ngIf="contact.status==true">
      <li class="-name mb-1" id="-name" >{{contact.name}}</li>
      <li class="-info mb-1" >Email: <span class="-info" id="-email">{{contact.mail}}</span></li>
      <li class="-info mb-1">Mobile: <span class="-info" id="-mobile">{{contact.number}}</span></li>
      <li class="-landline-website mb-1" >Landline: <span class="-landline-website" id="-landline">{{contact.landline}}</span></li>
      <li class="-landline-website mb-1" >Website: <span class="-landline-website" id="-website">{{contact.website}}</span></li>
      <li class="-address">Address: <span class="-address" id="-address1">{{contact.address1}}</span><br><span class="left-space" id="-address2">{{contact.address2}}</span><br><span class="left-space" id="-address3">{{contact.address3}}</span></li>
    </div>
    </ul>
  </div>
  <div class="col-6 mt-4">
    <div class="edit-part" >
      <img src="./../assets/images/Edit-icon.png" alt="" class="edit-img" >
      <a class="-label nav-link "  id="edit" (click)="afterEdit()">EDIT</a>
    </div>
    <div class="delete-part" >
      <img src="./../assets/images/delete2.png" alt="" class="delete-img" >
      <a class="-label nav-link " id="delete" (click)="afterDelete()">DELETE</a>
    </div>
  </div>
</div>

<h3 class="container text-danger text-center mt-5" *ngIf="contact_list.length==0">No contacts left</h3>
